<div class="field">
  <%= f.label :description, "Say somthing about you!" %>
  <%= f.text_field :description %>
</div>

<div class="field">
  <%= f.label :image, "upload profile picture" %>
  <%= f.file_field :image %>
</div>
